<% include ../share/header.ejs %>

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>id</th>
            <th>name</th>
            <th>age</th>
            <th>gender</th>
            <th>birthday</th>
        <tr>
    </thead>
    <tbody>            
    <% for(let i in users){ %>
        <tr>
            <td><%=i%></td>
            <td><%=users[i].id%></td>
            <td><%=users[i].name%></td>
            <td><%=users[i].age%></td>
            <td><%=users[i].gender%></td>
            <td><%=users[i].birthday%></td>
        </tr>
    <% } %>
    </tbody>
</table>

<% include ../share/footer.ejs %>